@using Check_Point.Models; 
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Aprovar Comentário";
    Layout = "MasterPageLogado";
}

<h1>Lista de Comentários Cadastrados Pendentes</h3>

@TempData["Mensagem"]
<table>

    <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Texto</th>
                <th>Data de Criação</th>
                <th>Status</th>
            </tr>
    </thead>
    
    <tbody>
        @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr>
    
                <td>
                    @item.Id
                </td>

                <td>
                    @item.Usuario.Nome
                </td>

                <td>
                    @item.Texto
                </td>
                
                <td class="td-data">
                    @item.DataCriacao
                </td>
                
                <td>
                    @item.Status
                </td>

                <td class="rej">
                    <a class="a-r" href="/Comentario/Aprovar?id=@item.Id"> Rejeitar </a>
                </td>

                <td class="aprov">
                    <a class="a-r" href="/Comentario/Manter?id=@item.Id"> Aprovar </a>
                </td>
            </tr>
        } 
    </tbody>

</table>
    <!-- <a style="display:block" href="/Comentario/Cadastrar"> Cadastrar comentário </a> -->

