@using Check_Point.Models; 
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = "Home";
    Layout = "MasterPageDeslogado";
}

<div class="banner">

        <div class="filtro">
            <h1>Gerencie sua equipe, prazo e metas.</h1>
            <picture class="funcionalidades">
                <source media="(max-width: 480px)" srcset="Imagens/funcionalidades.png">
                <!-- <source media="(min-width: 465px)" srcset="Ativo 5.png"> -->

                <img class="funcionalidades-img" src="../Páginaprincipal/Imagens/funcionalidadescirculo.png" alt="funcionalidades">
            </picture>
            <!-- <img src="Imagens/funcionalidades.png" alt="funcionalidades"> -->
        </div>

</div>





















@* <form action="/Home/" method="POST">

<h3>
    @ViewBag.MensagemErroNOME
</h3>
    <label>
        Nome:
        <input type="text" name="nome">
    </label>

<h3>
    @ViewBag.MensagemErroEMAIL
</h3>
    <label>
        Email:
        <input type="email" name="email">
    </label>

<h3>
    @ViewBag.MensagemErroSENHA
</h3>
    <label>
        Senha:
        <input type="password" name="senha" maxlength="12">
    </label>


    <input class=btn-enviar type="submit" value="Enviar">

</form> *@

<table>

    <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Texto</th>
                <th>Data de Criação</th>
                <th>Status</th>
            </tr>
    </thead>
    
    <tbody>
        @foreach (var item in ViewData["ComentariosAtt"] as List<ComentarioModel>)
        {
            <tr>
                <td>
                    @item.Id
                </td>

                <td>
                    @item.Usuario.Nome
                </td>

                <td>
                    @item.Texto
                </td>
                
                <td>
                    @item.DataCriacao
                </td>

                <td>
                    @item.Status
                </td>
            </tr>
        } 
    </tbody>

</table>